*{
    margin: 0;
    padding: 0px;
    border: border-box;
}

body{
    background-image: url(https://img.freepik.com/fotos-premium/cor-de-fundo-fundo-abstrato-gradiente-amarelo-laranja-cor-suave_218381-8035.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    margin: 1.5%;
    padding: 5px
}
.header{
    max-width: 100%;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}
.header .logo{
    display: block;
    position: absolute;
}

.header .titulo{
    position: relative;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}
.menu{
    float: left;
    justify-content: center;
    margin-top: 8px;
}
.menu li{
    list-style: none;
    position: relative;
    float: left;
    padding: 0 30px;
    justify-content: center;
}
.menu li ul{
    position: absolute;
    top: 20px;
    display: none;
}

.menu li:hover ul{
    display: block;
}

.menu li ul li{
    display: block;
    width: 150px;
}
.menu li a{
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}